$main-font: Helvetica, sans-serif;
$primary-font-color: white;
$primary-card-font-color: black;
$primary-color: lightblue;
$wraper-color: blue;
$link-color: red;
$link-active-color: green;
$link-hover-color: hotpink;
$max-wrapper-width: 1024px;
$shop-background: green;
$card-color: lightyellow;
$board-color: green;
$card-text-background-color: skyblue;
$logo-shadow: green;
$active-hero-background-color: red;
$hero-for-buy-background-color: grey;