@import 'base';
@import 'vars';
@import 'card';

.gameBoard {
  width: 940px;
  margin: 0 auto;
  padding: 30px;
  background: $board-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}